<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Beer Catalog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Own CSS to specify some custom styles -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

        <!-- Google+ OAuth API -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile
                    display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/catalog/">Beer Catalog</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <!-- make a lists with (sub-)categories -->
                        {% for super in categories if super.parent_id == None %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ super.name }}<span class="caret"></span></a>
                                {% for sub in categories if sub.parent_id == super.id %}
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('showCategory', category_id=sub.id) }}">{{ sub.name }}</a></li>
                                </ul>
                                {% endfor %}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </nav>

            <div class="row" id="header">
                {% block header %}
                <div>
                    <a href="{{ url_for('disconnect') }}">Logout</a>
                </div>
            </div>
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endblock header %}
            </div><!-- header -->
            <div class="row" id="content">
                {% block content %}
                {% endblock content %}
            </div><!-- #content -->
        </div><!-- .container -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    &copy; Copyright 2015 - Carefully Crafted by <a href="http://github.com/swesterveld/">Sil Westerveld</a>
                </p>
            </div>
        </footer>
	</body>
</html>
