<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Beer Catalog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

        <!-- Own CSS to specify some custom styles -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="container">
            <div class="row" id="header">
                {% block user %}
                <div>
                    <a href="{{ url_for('disconnect') }}">Logout</a>
                </div>
                {% endblock %}
                {% block header %}
                <div>
                    <h1><a href="{{ url_for('showCatalog') }}">Beer Catalog</a></h1>
                </div>
            </div>
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endblock header %}
            </div><!-- header -->
            <div class="row" id="content">
                {% block content %}
                {% endblock content %}
            </div><!-- #content -->
        </div><!-- .container -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    &copy; Copyright 2015 - Carefully Crafted by <a href="http://github.com/swesterveld/">Sil Westerveld</a>
                </p>
            </div>
        </footer>
	</body>
</html>
