<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Beer Catalog</title>
        <!-- Google+ OAuth API -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Own CSS to specify some custom styles -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile
                display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('showCatalog')}}">Beer Catalog</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="navbar" class="collapse navbar-collapse">
                    <!-- make a lists with (sub-)categories -->
                    <ul class="nav navbar-nav">
                        {% for super in categories if super.parent_id == None %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ super.name }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for sub in categories if sub.parent_id == super.id %}
                                <li><a href="{{ url_for('showCategory', category_id=sub.id) }}">{{ sub.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Button to trigger modal -->

                        {% if session['username'] %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ session['username'] }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('disconnect') }}" role="button">Sign out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="#signInModal" role="button" data-toggle="modal">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

		<div class="container">

            <div class="row" id="header">
                {% block header %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endblock header %}
            </div><!-- header -->

            <!-- Login Modal -->
            <div id="signInModal" class="modal fade" tabindex="-1" role="dialog" aira-labelledby="signInModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 id="signInModalLabel">Sign in to the Beer Catalog</h3>
                        </div>
                        <!--<div class="modal-body" id="result">-->
                        <div class="modal-body">
                            <!-- Google Plus sign in -->
                            <p>Sign in with your Google+ Account</p>
                            <span class="g-signin"
                                data-scope="openid email"
                                data-clientid="264350214576-t1sd3hc55nf93u166h157gjm4eaj3su5.apps.googleusercontent.com"
                                data-redirecturi="postmessage"
                                data-accesstype="offline"
                                data-cookiepolicy="single_host_origin"
                                data-callback="signInCallback"
                                data-approvalprompt="force">
                            </span>
                            <script>
                            function signInCallback(authResult) {
                                console.log(authResult);
                                if( authResult['code']) {
                                    // Hide the sign-in button now that the user is authorized
                                    $('#signinButton').attr('style', 'display: none');

                                    // Send the one-time-use code to the server, if the server responds,
                                    // write a 'login successful' message to the web page and then redirect
                                    // back to the main page.
                                    $.ajax({
                                        type: 'POST',
                                        url: '/connect?state={{session['state']}}',
                                        processData: false,
                                        data: authResult['code'],
                                        contentType: 'application/octet-stream; charset=utf-8',
                                        success: function(result) {
                                            // Handle or verify the server response if necessary.
                                            if (result) {
                                                $('.modal-body').html('Login Successful!<br>' +
                                                    '<br>Redirecting...');
                                                setTimeout(function() {
                                                    $('#signInModal').modal('toggle');
                                                    window.location.href = "/catalog"
                                                }, 3000);
                                            } else if (authResult['error']) {
                                                console.log('There was an error: ' + authResult['error']);
                                            } else {
                                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                                            }
                                        }
                                    });
                                }
                            }
                            </script>
                            <!-- End Google Plus sign in -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!-- #signInModal -->

            <div class="row" id="content">
                {% block content %}
                {% endblock content %}
            </div><!-- #content -->

        </div><!-- .container -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    &copy; Copyright 2015 - Carefully Crafted by <a href="http://github.com/swesterveld/">Sil Westerveld</a>
                </p>
            </div>
        </footer>
	</body>
</html>
