{% extends "base.html" %}

{% block content %}

This view will show all items available for a specific (selected) category.

<div id="categories">
    <h2>Categories</h2>
    <!-- test with (sub-)categories -->
    {% for super in categories if super.parent_id == None %}
        <p>{{ super.name }}</p>
        <ul>
        {% for sub in categories if sub.parent_id == super.id %}
            <li><a href="#">{{ sub.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>

<div>
    <h2>{{category.name}}</h2>

    {% if category.description %}
    <p>
    {{category.description}}
    </p>
    {% endif %}

    <ul>
    {% for item in items %}
    <li><a href="#">{{item}}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
