{% extends "base.html" %}

{% block content %}

<div class="col-md-9">
    <div class="row">
        <div>
            <h2>{{category.name}} ({{ items.count() }} items)</h2>
        </div>
    </div>

    <div class="row">
        <div>
            {% if category.description %}
            <p>
            {{category.description}}
            </p>
            {% endif %}

            <ul>
            {% for item in items %}
            <li><a href="{{ url_for('showItem', category_id=item.category_id, item_id=item.id) }}">{{item.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
