<div>
    <form action="#" method="post">
        <div>
            <label for="category">Category &amp; Style:</label>
            <select name="category" size="10" required>
                <!-- fill drop-down menu with (sub-)categories -->
                {% for super in categories if super.parent_id == None %}
                    <optgroup label="{{super.name}}">
                    {% for sub in categories if sub.parent_id == super.id %}
                    <option value="{{sub.id}}"{% if item and item.category_id == sub.id %} selected{% endif %}>{{sub.name}}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div>
            <p>
            <label for="name">Name:</label>
            {% if item %}
            <input type="text" name="name" value="{{item.name}}" required>
            {% else %}
            <input type="text" name="name" placeholder="Name of the beer" required>
            {% endif %}
            </p>

            <p>
            <label for=description">Description:</label>
            {% if item %}
            <textarea name="description">{{item.description}}</textarea>
            {% else %}
            <textarea name="description" placeholder="Description of the beer..."></textarea>
            {% endif %}
            </p>

            <input type="submit" value="Add">
        </div>
    </form>
</div>
