{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Full Stack Beer Catalog</h1>
        <p class="lead">This beer catalog holds information of beers from several categories and styles. You may browse through the data by selecting categories on the top of this page. If you want to add, modify or delete information, you need to <a href="#" data-toggle="modal" data-target="#myModal">log in</a> with your Google+ Account first.</p>
    </div>
    <div class="row">
        <div class="row">
            <h4>Latest added items:</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    {% for item in latest_items %}
                    <li>{{ item.name }} - {{ item.category.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-6">
                <ul>
                    {% for item in latest_items %}
                    <li>{{ item.name }} - {{ item.category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
