{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Full Stack Beer Catalog</h1>
        <p class="lead">This beer catalog holds information of beers from several categories and styles. You may freely browse through the data by selecting categories on the top of this page. If you want to add, modify or delete information, you need to sign in with your Google+ Account first.</p>
    </div>
    <div class="row">
        <h2>Latest 10 items</h2>
        <ul>
            {% for item in latest_items %}
            <li><a href="{{ url_for('showItem', category_id=item.category.id, item_id=item.id) }}">{{ item.name }}</a> - {{ item.category.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
